header{
    height: 15%;
    box-shadow:0px 0px 4px 0px  #000000;
    width: 100%;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;   
}
.sidebar{
    display: none;
}
.nav_menu ul {
    display: flex;
    margin-left: 20%;
    padding: 20px;

}
main{
    height: 500px;
}
 
.nav_menu ul li{
    list-style: none;
    margin-left: 3%;
    text-transform: uppercase;
    font-weight: bold;
    color: rgb(69, 69, 69);


}
.nav_menu ul li a{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: rgb(69, 69, 69);
}
.container{
    margin-top: 15%;
    display: flex;
    text-transform: uppercase;
    
}
.intro{
    margin-left: 150px;
}
.profile_img{
    margin-left: 150px;
}
.profile_img img{
    width: 250px;
    height: 250px;
}
.container .button{
    background-image: linear-gradient(to right,rgb(168, 52, 235), rgb(235, 52, 165));
    border-radius: 5px;
    width: 200px;
    height: 50px;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    border: 1px solid rgb(168, 52, 235) ;
    outline: 0;

}
footer p{
    position: absolute;
    left: 30%;
    top: 20;
}
footer{
    height: 15%;
    position: absolute;
    width: 100%;
    left: 0%;
    bottom: -200;
    display: flex;
    box-shadow:1px 1px 4px 1px  #000000;
    color: black;

}
.logos{
   
    position: absolute;
    left: 50%;
}
.logos img{
    width: 50px;
    height: 50px;
    padding: 20px;
    
}
.copyright{
    color: black;
}
.copyright_msg{
    padding: 20px;
    margin-top: 20px;
    margin-left: 100px;
    
}

/* about */
.blog-card{
    position: absolute;
    top: 18%;
    left: 20%;
    height: 400px;
    width: 100%;
    max-width: 850px;
    margin: auto;
    border-radius: 25px;
    background:#fff; 
    box-shadow:2px 3px 15px black;

}
.blog-card img{
    border-radius: 5px;
    height: 250px;
    width: 250px;
    left: -125;
    position: absolute;
    top: 20%;
}
.blog-card .inner-part{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 25px;
    height: 360px;
}
.content  {
    margin-left: 20%;
    font-size: 24px;
}
.content span{
    
    display: block;
    
}
.button-blog{
    background-image: linear-gradient(to right,rgb(168, 52, 235), rgb(235, 52, 165));
    border-radius: 5px;
    width: 200px;
    height: 50px;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    border: 1px solid rgb(168, 52, 235) ;
    outline: 0;
    position: absolute;
    bottom: 20;
    left: 40%;

}
#copyright-visibilities{
    display: none;
}
#bar-icon{
    display: none;
}
@media only screen and (max-width: 600px) {
    
    header{
        display: none;
    }
    
    .sidebar{
        display: block;
    }
    table{
    position: absolute;
    left: 0%;    
    font-size: 12px;
    margin-left: -100px;
    }
    .edit-modal{

        left: 0%;

        
    }
    th,td{
        padding: 10px;
        text-align: left;
        
    }
    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: white;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
      }
      .sidenav i{
        color: rgb(69, 69, 69);
      }
      .edit-modal input {
        width: 300;
        height: 50px;
    }
    .edit-modal textarea {
        width: 300;
        height: 100px;
    }
      .sidenav a{
        color: rgb(69, 69, 69);
          font-size: 14px;
      }
      .sidenav li{
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        display: block;
        transition: 0.3s;
      }
      
      .sidenav a:hover {
        color: #f1f1f1;
      }
      
      .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
      }
      
      .button{
        width: 100px;
        font-size: 12px;

    }
   h2{
       font-size: 18px;
        
    }
    .form{
        margin-left: -100px;
        font-size: 12px;
        
    }
    .form input{
        width: 100%;
    }
    .button-group a{
        font-size: 10px;
    }
button#others.button{
    font-size: 10px;
}
.content li{
    padding: 15px;
    font-size: 15px;
    width: 100%;
    height: 100px;
  left: -100;
}
div.sidebar{
    color: black;
}
.blog-card{
   box-shadow: none;
}
  }